<Files config.ini>
order allow,deny
deny from all
</Files>

# url amigables
# requiere modulo rewrite de apache
Options +FollowSymlinks
RewriteEngine on

##point to installation directory 
##if it is the root dir,enter / 
#rewritebase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]